
.form-submit .before-prospectus{
  padding-top: 5px;
}
.form-submit .prospectus{
  text-transform:uppercase;
  /*background:#2f91aa;*/
  /*border: 1px solid #fff;*/
  color:#2f91aa;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 600;
}
.form-submit .prospectus:hover{
  background:#14748D;
  font-weight: 500;
  border-color: #fff;
  border-radius: 3px;
  border: 1px solid #2f91aa;
}